<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>
    <link href="static/css/style.css"  rel="stylesheet">
    <link href="static/css/header.css"  rel="stylesheet">
    <link href="static/css/productCar.css"  rel="stylesheet">
    <link href="static/css/footer.css"  rel="stylesheet">
</head>

<body>
    <%- include("../includes/header")%>

<body>
<section class="carrito">
    <ul type="none" class="menu-carrito">
        <ul type="none" class="menu-desplegable">
            <li><input class="seguir-comprando" type="button" value="Seguir comprando" id="Cerrar menu"></li>
            <li><input class="detalles" type="button" value="Ver detalles" id="detalles"></li>
            <li>
                <div class="envio">
                 <ul>
                     <li><input class="retirar" type="radio" name="envio" value="Retirar" id="Retirar"> Paso a Retirar
                      <ul type="none" class="si-paso-a-retirar">
                        <li><input type="text" value="Nombre completo" id="Nombre completo"></li>
                        <li><input type="email" value="Email" id="Email"></li>
                        <li><textarea>Comentarios</textarea></li>
                      </ul>
                     </li> 
                    </ul>
                <ul>
                  <li><input class="enviar" type="radio" name="envio" value="Envio" id="Envio"> Quiero que me lo envien</li>
                  <ul type="none" class="si-pido-para-enviar">
                        <li><input type="text" value="Nombre completo" id="Nombre completo"></li>
                        <li><input type="email" value="Email" id="Email"></li>
                        <li><input type="text" value="Direccion Exacta" id="Direccion"></li>
                        <li><textarea>Comentarios</textarea></li>
                    </ul>
                </ul>
                </div>
            </li>
            <p class="registro">No tenes cuenta?<a href="./register.html">Registrate</a></p>
        </ul>
        <div class="principal">
            <i class="fas fa-shopping-cart"></i>
            <p> Comprar </p>
            <p>($total)</p>
        </div>
    </ul>
    
</section>
 
  
<%- include("../includes/footer")%>      
  
</body>
</html>