<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>
    <link href="static/css/styleCar.css"  rel="stylesheet">
    
</head>

<body>
    <%- include("../includes/header")%>
<h1>hola estoy aqui</h1>
    <%- include("../includes/footer")%>  
</body>
</html>