<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
            <div class="first-bar">
             <span class="search-bar" action="#" method="GET">
                 <div class="input">Buscar productos, marcas y más</div>
                 <div class="submit"><i class="fa fa-search"></i></div>
             </span>
             </div>
           
            <nav>
              <ul class="enlaces">
                 <li><a href='/'>Inicio</a></li>
                 <li><a href="#">Productos</a></li>           
       
                 <li><a href='/'><img width= "200"  src="static/images/Logo redondo.png" alt="Logo BIG BROS"></a></li>
                 <li><a href="#"> Nosotros <i class="far fa-id-card"></i></a></li>
                 <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
             </ul>
            </nav>
         <div class="burger-menu">
             <i class="fa fa-bars burger"></i>
         </div>
     </header>

    <main>
<!--HISTORIA - PRODUCTOS - MISION,VISION Y VALORES.--> 
        <SECTION class="historia">
            <h3>Nuestra Historia</h3>
            <img src="" alt="">
            <p> Big Bros. Alfajores Artesanales es un emprendimiento familiar fundado por dos hermanos, Alejandro y Alfredo Benítez, qué nace en Junio del 2020 en Resistencia, Chaco, Argentina.
El emprendimiento tuvo orígenes muy humildes, se fundó en la cocina de la casa familiar de los dos hermanos con una pequeña inversión y con los utensilios disponibles gracias a un pasado pastelero de su madre y se desarrolló durante una época de gran dificultad debido a la pandemia COVID 19.
 Durante 2021 la empresa mostró un gran crecimiento, comenzando con su primera incorporación en Enero de su prima Sofía Benitez, siguiendo por la mudanza de la fabricación de los alfajores a un lugar propio y terminando con la consecución del récord de más de 15.000 alfajores vendidos.
Big Bros nació como una forma de superación de este período difícil qué fué la pandemia para estos dos hermanos y tiene como misión "Brindar momentos de satisfacción a nuestros clientes, con productos de calidad, accesibles y respetando el medio ambiente".
Esperamos qué cada persona qué coma nuestros alfajores se sienta parte de nuestra familia, se sienta uno de nuestros hermanos.
            </p>
        </SECTION>
        <SECTION class="Productos">
            <h3>Nuestros Productos</h3>
            
        </SECTION>
        <SECTION class="Vision">
            <h3>Visión</h3>
            <h3>Misión</h3>
            <h3>Valores</h3>
            
        </SECTION>


    </main>
    <footer>

    </footer>
    
</body>
</html>