<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap" rel="stylesheet">

    <link href="static/css/stylesAboutUs.css"  rel="stylesheet">
</head>
<body>
    <header>
    
        <div class="first-bar">
         <span class="search-bar" action="#" method="GET">
             <div class="input">Buscar productos, marcas y más</div>
             <div class="submit"><i class="fa fa-search"></i></div>
         </span>
         </div>
       
     
     <nav>
         <ul class="enlaces">
             <li><a href='/'>Inicio</a></li>
             <li><a href="/productDetail">Productos</a></li>
             <li><a href='/'><img width= "150"  src="static/images/Logo redondo.png" alt="Logo BIG BROS"></a></li>            

             <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
             <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
             <li><a href="/aboutUs">Nosotros <i class=""></i></a></li>
         </ul>
     </nav>
     <div class="burger-menu">
         <i class="fa fa-bars burger"></i>
     </div>
 </header>

    <main>
<!--HISTORIA - PRODUCTOS - MISION,VISION Y VALORES.--> 
        <section class="historia">
            <img src="static/images/Nosotros.jpg" alt="Foto Historia">
            <h3>Nuestra Historia</h3>
            <p> Big Bros. Alfajores Artesanales es un emprendimiento familiar fundado por dos hermanos, Alejandro y Alfredo Benítez, qué nace en Junio del 2020 en Resistencia, Chaco, Argentina.
El emprendimiento tuvo orígenes muy humildes, se fundó en la cocina de la casa familiar de los dos hermanos con una pequeña inversión y con los utensilios disponibles gracias a un pasado pastelero de su madre y se desarrolló durante una época de gran dificultad debido a la pandemia COVID 19.
 Durante 2021 la empresa mostró un gran crecimiento, comenzando con su primera incorporación en Enero de su prima Sofía Benitez, siguiendo por la mudanza de la fabricación de los alfajores a un lugar propio y terminando con la consecución del récord de más de 15.000 alfajores vendidos.
Big Bros nació como una forma de superación de este período difícil qué fué la pandemia para estos dos hermanos y tiene como misión "Brindar momentos de satisfacción a nuestros clientes, con productos de calidad, accesibles y respetando el medio ambiente".
Esperamos qué cada persona qué coma nuestros alfajores se sienta parte de nuestra familia, se sienta uno de nuestros hermanos.
            </p>
        </section>
        <SECTION class="Productos">
            <img src="static/images/productos.jpg" alt="Foto Productos">
            <h3>Nuestros Productos</h3>
            <p>Especializados en alfajores tipo marplatenses (bañados en chocolate), hoy la empresa cuenta con una cartera de 14 productos, destacándose 3 segmentos: Bañados en chocolate, sin baño de chocolate, mini alfajores y próximamente alfajores helados. La fabricación de los alfajores es completamente artesanal, desde la elección de las materias primas, realización de la masa, estirado y cortado, relleno, baño y hasta el empaquetado. Respetando siempre normas de calidad e higiene.</p>
            
        </SECTION>
        <SECTION class="Vision">
            <img src="static/images/alfajores 1.jpg" alt="Foto Productos">
            <h3>Visión</h3>
            <p>Liderar la fabricación de productos alimenticios vinculados a la pasteleria en la región. Buscando calidad, precios accesibles, conciencia ecológica e innovación constante.</p>

            <h3>Misión</h3>
            <p>Brindar momentos de satisfacción a nuestros clientes, con productos de calidad, accesibles y respetando el medio ambiente.</p>

            <h3>Valores</h3>
            <ul>
                <li>Calidad total</li>
                <li>Conciencia ecológica</li>
                <li>Innovación constante</li>
            </ul>
            
        </SECTION>


    </main>
    <footer>
        <section>
            <article class="section-footer">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con mercado pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <h4> Envio gratis desde $ 2500</h4>
                    <p>Solo por estar registrado en BIG BROS tenes envios gratis en miles de productos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusto? ¡Devolvelo! En BIG BROS, no hay nada que puedas perder, porque estas siempre protegido </p>
                </article>
                <h4>Copyright © 1999-2020 BIG BROS S.R.L.</h4>
        </section>
        </footer>
    
</body>
</html>