<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap" rel="stylesheet">

    <link href="static/css/style.css"  rel="stylesheet">

   </head>

<body>
    <header>
    
           <div class="first-bar">
            <span class="search-bar" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </span>
            </div>
          
        
        <nav>
            <ul class="enlaces">
                <li><a href='/'>Inicio</a></li>
                <li><a href="#">Productos</a></li>           
      
                <li><a href='/'><img width= "200"  src="static/images/Logo redondo.png" alt="Logo BIG BROS"></a></li>
                <li><a href="#"> Nosotros <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <section class="banner">

    <img  src="static/images/maicena-dos.jpg" alt="Banner de ofertas">
    </section>
    
    <main>
        <section class="last-visit">
          
            <div class="products">
              
                <article>
                    <img src="static/images/alfajores 4.jpg" alt="Alfajores de Chocolate" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <h2 class="price">$3.500</h2>
                        <p class="discount">5% off</p>
                        <h4 class="description">Alfajores de Chocolate</h4>
                    </div>
                </article>

                <article>
                    <img src="static/images/alfajores 2.jpg" alt="Alfajores de Maicena" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <h2 class="price">$2.500</h2>
                        <p class="discount">10% off</p>
                        <h4 class="description">Alfajores de Maicena</h4>
                    </div>
                </article>

              

                <article>
                    <img src="static/images/chips-alfajores-1.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <h2 class="price">$3000</h2>
                        <p class="discount">5% off</p>
                        <h4 class="description">Chips de chocolate-Alfajores</h4>
                    </div>
                </article>

                <article>
                    <img src="static/images/chips2.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <h2 class="price">$1.500</h2>
                        <p class="discount">20% off</p>
                        <h4 class="description">Chips de Chocolate</h4>
                    </div>
                </article>

            </div>
        </section>

    </main>

    
    <footer>
        <section>
            <article class="section-footer">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con mercado pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <h4> Envio gratis desde $ 2500</h4>
                    <p>Solo por estar registrado en BIG BROS tenes envios gratis en miles de productos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusto? ¡Devolvelo! En BIG BROS, no hay nada que no puedas perder,porque estas siempre protegido </p>
                </article>
               
            
                
            
                <h4>Copyright © 1999-2020 BIG BROS S.R.L.</h4>
            
        </section>
       
            
           
        </footer>

</body>


</html>