<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link href="/static/css/home.css"  rel="stylesheet">
 

   </head>

 <body>
    <header>
        <form class="barra">
        <input type="search" placeholder="Buscar productos" class="busqueda">
        <button>  
        <i class="fa fa-search"></i>
        </button> 
        </form>
        <nav class="enlaces">
            <a href="/nosotros">Nosotros</a>
            <a href="/productDetail">Productos</a>
            <a href='/'><img src="/static/images/Logo 2.jpg" alt="Logo BIG BROS"></a>
            <a href="/login">Mi cuenta</a>     
            <a href="">Contacto</a>
        </nav>
    </header>
     
    <main>
     <section id="slider">
        <ul id="slides">
            <li id="slide-1" class="slide"><img src="/static/images/banner-01.jpg" alt=""></li>
            <li id="slide-2" class="slide"><img src="/static/images/banner-02.jpg" alt=""></li>
            <li id="slide-3" class="slide"><img src="/static/images/banner-03.jpg" alt=""></li>
        </ul>
        <nav id="menu">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </nav>
     </section>
   
   
        <p id="titulo">Productos Destacados</p>
        <section class="productos">

          <article>
             <img src="/static/images/alfajores/alfajores-04.jpg" alt="alfajores Big Bros">
             <section class="caracteristicas-p">
                 <p>Alfajores</p>
                    <form action="productCar.html" method="POST">
                        <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                            <option value="1" selected>x12</option>
                        </select>
                        <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                        <input class="precio" type="text" value="$600" id="precio" >
                        <section id="share">
                            <a href=" "><i class="fas fa-share-alt"></i></a>
                            <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        </section>
             </section>
          </article>

          <article>
            <img src="/static/images/cookies-01.jpg" alt="Cookies Big Bros">
            <section class="caracteristicas-p">
                <p>Cookies</p>
                   <form action="productCar.html" method="POST">
                       <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                           <option value="1" selected>x12</option>
                       </select>
                       <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                       <input class="precio" type="text" value="$400" id="precio" >
            <section id="share">
                <a href=" "><i class="fas fa-share-alt"></i></a>
                <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            </section>
            </section>
         </article>

         <article>
            <img src="/static/images/pandulce-01.jpg" alt="Pan Dulce Big Bros">
            <section class="caracteristicas-p">
                <p>Pan Dulce</p>
                   <form action="productCar.html" method="POST">
                       <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                           <option value="1" selected>x1</option>
                       </select>
                       <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                       <input class="precio" type="text" value="$1200" id="precio" >
                       <section id="share">
                        <a href=" "><i class="fas fa-share-alt"></i></a>
                        <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    </section>
            </section>
         </article>

         <article>
            <img src="/static/images/budin-01.jpg" alt="budines Big Bros">
            <section class="caracteristicas-p">
                <p>Budines</p>
                   <form action="productCar.html" method="POST">
                       <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                           <option value="1" selected>x1</option>
                       </select>
                       <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                       <input class="precio" type="text" value="$900" id="precio">
                       <section id="share">
                        <a href=" "><i class="fas fa-share-alt"></i></a>
                        <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    </section>
            </section>
         </article>
        </section>

    </main>
 
    <footer>

        <section>
            <h4>Contacto</h4>
            <p><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></p>
            <p><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></p>
        </section>
    
        <section>
            <h4>Redes sociales</h4>
          <p><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></p>
          <p><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></p>
        </section>
        
    </footer> 

 </body>
</html>