<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link href="static/css/styleLogIn.css"  rel="stylesheet">
 

</head>

<body>
    <header>
        <form class="barra">
        <input type="search" placeholder="Buscar productos" class="busqueda">
        <button>  
        <i class="fa fa-search"></i>
        </button> 
        </form>
        <nav class="enlaces">
            <a href="/">Nosotros</a>
            <a href="/productDetail">Productos</a>
            <a href='/'><img src="static/images/Logo 2.jpg" alt="Logo BIG BROS"></a>
            <a href="/nosotros">Mi cuenta</a>     
            <a href="/login">Contacto</a>
        </nav>
    </header>

    <main>
            <h4>Inicio de sesión</h4>       
            <form action="" method="POST">
            <p><label for="correo">Correo:</label><input type="email" placeholder="noeg@gmail.com" id="correo" name="correo"></p>
            <p><label for="pass">Contraseña:</label><input type="password" placeholder="security password" id="pass" name="pass"></p>
            <button onclick="location.href='/'">
                Ingresar
            </button>
            <p class="registro">¿Sos nuevo? <a href="/register">¡Registrate!</a></p>
            </form>

    </main>
    
    <footer>

        <section>
            <h4>Contacto</h4>
            <p><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></p>
            <p><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></p>
        </section>
    
        <section>
            <h4>Redes sociales</h4>
          <p><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></p>
          <p><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></p>
        </section>
        
        </footer>  

</body>
</html>