<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <link href="static/css/stylesAboutUs.css"  rel="stylesheet">

    <link href="static/css/header.css"  rel="stylesheet">

   </head>

<body>
    <header>

        <div class="barrita">
        <input type="search" placeholder="Buscar productos" class="busqueda"><i class="fa fa-search"></i><i class="far fa-user" onclick="location.href='/login'"></i> 

     
                
    <nav>
        <ul type="none" class="enlaces">
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href='/'><img src="static/images/Logo 2.jpg" alt="Logo BIG BROS"></a></li>
        
        
            <li><a href="/miCuenta">Mi cuenta</a></li>
            <li><a href="/login">Contacto</a></li>
    </nav>
    </header>

    <section class="bann
    <img src="static/images/portada4.jpg" alt="Banner de ofertas">
    </section>
    
    
    <!--HISTORIA - PRODUCTOS - MISION,VISION Y VALORES.--> 
            <section class="historia">
                <img src="static/images/nosotros.jpeg" alt="Foto Historia">
                <h3>Nuestra Historia</h3>
                <p> Big Bros. Alfajores Artesanales es un emprendimiento familiar fundado por dos hermanos, Alejandro y Alfredo Benítez, qué nace en Junio del 2020 en Resistencia, Chaco, Argentina.
    El emprendimiento tuvo orígenes muy humildes, se fundó en la cocina de la casa familiar de los dos hermanos con una pequeña inversión y con los utensilios disponibles gracias a un pasado pastelero de su madre y se desarrolló durante una época de gran dificultad debido a la pandemia COVID 19.
     Durante 2021 la empresa mostró un gran crecimiento, comenzando con su primera incorporación en Enero de su prima Sofía Benitez, siguiendo por la mudanza de la fabricación de los alfajores a un lugar propio y terminando con la consecución del récord de más de 15.000 alfajores vendidos.
    Big Bros nació como una forma de superación de este período difícil qué fué la pandemia para estos dos hermanos y tiene como misión "Brindar momentos de satisfacción a nuestros clientes, con productos de calidad, accesibles y respetando el medio ambiente".
    Esperamos qué cada persona qué coma nuestros alfajores se sienta parte de nuestra familia, se sienta uno de nuestros hermanos.
                </p>
            </section>
            <SECTION class="Productos">
                <img src="static/images/productos.jpg" alt="Foto Productos">
                <h3>Nuestros Productos</h3>
                <p>Especializados en alfajores tipo marplatenses (bañados en chocolate), hoy la empresa cuenta con una cartera de 14 productos, destacándose 3 segmentos: Bañados en chocolate, sin baño de chocolate, mini alfajores y próximamente alfajores helados. La fabricación de los alfajores es completamente artesanal, desde la elección de las materias primas, realización de la masa, estirado y cortado, relleno, baño y hasta el empaquetado. Respetando siempre normas de calidad e higiene.</p>
                
            </SECTION>
            <SECTION class="Vision">
                <img src="static/images/alfajores 1.jpg" alt="Foto Productos">
                <h3>Visión</h3>
                <p>Liderar la fabricación de productos alimenticios vinculados a la pasteleria en la región. Buscando calidad, precios accesibles, conciencia ecológica e innovación constante.</p>
    
                <h3>Misión</h3>
                <p>Brindar momentos de satisfacción a nuestros clientes, con productos de calidad, accesibles y respetando el medio ambiente.</p>
    
                <h3>Valores</h3>
                <ul>
                    <li>Calidad total</li>
                    <li>Conciencia ecológica</li>
                    <li>Innovación constante</li>
                </ul>
                
            </SECTION>
    
    
        </main>

  
    
    <footer>
        <section>
            <h4>Contacto</h4>
            <div></i><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></div>
            <div><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></div>
        </section>
    
        <section>
            <h4>Redes sociales</h4>
           <div><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></div>
           <div><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></div>
        </section>
       
            
           
        </footer>   

</body>
</html>