<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="static/css/productDetail.css"  rel="stylesheet">
</head>
<body>
    <header>
    
           
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
      
    
    <nav>
        <ul class="enlaces">
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href='/'><img width= "150"  src="static/images/Logo 2.jpg" alt="Logo BIG BROS"></a></li>
        
        
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>
<main>
    <section class="productos">

        <h1> PRODUCTOS </h1>
        <article class="alfajores">
            <h2> Alfajores </h2>
            <div class="main-product">
            <img src="static/images/alfajores/alfajores-04.jpg" alt="alfajores Big Bros">
            <div class="info-product">
            <p class="caracteristicas">Caracteristicas</p>
            <p>Alfajores Big Bros clásicos, con relleno de dulce de leche y bañado en chocolate con diferentes estilos. </p>
            <form action="productCar.html" method="POST">
                <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                    <option value="1">x1</option>
                    <option value="2">x3</option>
                    <option value="3" selected>x6</option>
                </select>
                <input class="precio" type="button" value="$600" id="precio" >
                <input class="comprar" type="submit" value="Comprar" id="Comprar">
                <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito">   
            </form>
            </div>
            </div>
        </article>

        
        <article class="cookies">
            <h2> Cookies </h2>
            <div class="main-product">
                <img src="static/images/cookies-01.jpg" alt="Cookies Big Bros">
                <div class="info-product">
                <p class="caracteristicas">Caracteristicas</p>
                <p>Cookies tipo americanas de vainilla o chocolate con chips de chocolate.</p>
                <form action="productCar.html" method="POST">
                    <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                        <option value="1" selected>x12</option>
                    </select>
                    <input class="precio" type="button" value="$400" id="precio" >
                    <input class="comprar" type="submit" value="Comprar" id="Comprar">
                    <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito">   
                </form>
                </div>
                </div>
        </article>

        <article class="pan-dulce">
            <h2> Pan Dulce </h2>
            <div class="main-product">
                <img src="static/images/pandulce-01.jpg" alt="Pan Dulce Big Bros">
                <div class="info-product">
                <p class="caracteristicas">Caracteristicas</p>
                <p>Pan Dulce Big Bros 100% artesanal, de varios tipos como el clásico con frutos secos bañado con glasé, o el CHIPS con chips y bañado de chocolate.</p>
                <form action="productCar.html" method="POST">
                    <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                        <option value="1" selected>x1</option>
                    </select>
                    <input class="precio" type="button" value="$1200" id="precio" >
                    <input class="comprar" type="submit" value="Comprar" id="Comprar">
                    <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito">   
                </form>
                </div>
                </div>
        </article>

    </section>
</main>

  
    
    <footer>
        <section>
            <article class="section-footer">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con mercado pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <h4> Envio gratis desde $ 2500</h4>
                    <p>Solo por estar registrado en BIG BROS tenes envios gratis en miles de productos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusto? ¡Devolvelo! En BIG BROS, no hay nada que no puedas perder,porque estas siempre protegido </p>
                </article>
               
            
                
            
                <h4>Copyright © 1999-2020 BIG BROS S.R.L.</h4>
            
        </section>
       
            
           
        </footer>   

</body>
</html>