<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="static/css/style.css"  rel="stylesheet">
    <link href="static/css/header.css"  rel="stylesheet">

   </head>

<body>
    <header>
        <div class="barrita">
        <input type="search" placeholder="Buscar productos" class="busqueda"><i class="fa fa-search"></i><i class="far fa-user" onclick="location.href='/login'"></i> 
        </div>
    <nav>
        <ul type="none" class="enlaces">
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href='/'><img src="static/images/Logo 2.jpg" alt="Logo BIG BROS"></a></li>
        
        
            <li><a href="/panelUsuario">Mi cuenta</a></li>
            <li><a href="/login">Contacto</a></li>
    </nav>
    </header>

    <section class="bann
    <img src="static/images/portada4.jpg" alt="Banner de ofertas">
    </section>
    

    <section class="bann
    <img src="static/images/portada4.jpg" alt="Banner de ofertas">
    </section>
    


<H1>Hola empeza con el producto ya!!!</H1>

  
    
    <footer>
        <section>
            <section>
                <h4>Contacto</h4>
                <div></i><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></div>
                <div><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></div>
            </section>
        
            <section>
                <h4>Redes sociales</h4>
               <div><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></div>
               <div><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></div>
            </section>
            
        </section>
       
            
           
        </footer>    
  
</body>
</html>