<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO BIG BROS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="static/css/style.css"  rel="stylesheet">
</head>
<body>
    <header>
    
        <div class="first-bar">
         <span class="search-bar" action="#" method="GET">
             <div class="input">Buscar productos, marcas y más</div>
             <div class="submit"><i class="fa fa-search"></i></div>
         </span>
         </div>
       
     
     <nav>
         <ul class="enlaces">
             <li><a href='/'>Inicio</a></li>
             <li><a href="/nosotros"> Nosotros <i class="far fa-id-card"></i></a></li>                       
             <li><a href='#'><img width= "200"  src="static/images/Logo redondo.png" alt="Logo BIG BROS"></a></li>
             <li><a href="/productDetail">Productos</a></li>   
             <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
         </ul>
     </nav>
     <div class="burger-menu">
         <i class="fa fa-bars burger"></i>
     </div>
 </header>


<H1>Algunos de nuestros Productos. Una Delicia</H1>
<body>
    
<section>

<video class="video1" width= 45%  controls autoplay loop muted> 
<source src="static/images/videopandulce.MOV" type="video/mp4"/>  </video>

<video class="video3" width= 45%  controls autoplay loop muted> 
    <source src="static/images/budines.MOV" type="video/mp4"/>  </video>

   
<video class="video2" width= 45%  controls autoplay loop muted> 
    <source src="static/images/videoalfajores (1).MOV" type="video/mp4"/>  </video>

</section>


<main>
<img width=33% src="static/images/alfajores 3.jpg" alt="Alfajores de Chocolate" class="product_img">
<img width=33% src="static/images/alfajores 2.jpg" alt="Alfajores de Chocolate" class="product_img">
<img width=33% src="static/images/alfajores 4.jpg" alt="Alfajores de Chocolate" class="product_img">  
 
 
</main> 
    <footer>
        <section>
            <h4>Contacto</h4>
            <div></i><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></div>
            <div><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></div>
        </section>
    
        <section>
            <h4>Redes sociales</h4>
           <div><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></div>
           <div><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></div>
        </section>
       
            
           
        </footer>   

</body>
</html>