<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NOSOTROS</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap" rel="stylesheet">
    
        <link href="static/css/register.css"  rel="stylesheet">
        <link href="static/css/header.css"  rel="stylesheet">
        <link href="static/css/footer.css"  rel="stylesheet">
    </head>
   


    <body>
        <header>

            <div class="barrita">
            <input type="search" placeholder="Buscar productos" class="busqueda"><i class="fa fa-search"></i><i class="far fa-user" onclick="location.href='/login'"></i> 
    
         
                    
        <nav>
            <ul type="none" class="enlaces">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href='/'><img src="static/images/Logo 2.jpg" alt="Logo BIG BROS"></a></li>
            
                <li><a href="/nosotros">Nosotros</a></li>
                
                <li><a href="/login">Contacto</a></li>
               
        </nav>
        </header>

  
 <main>
    <section class = "register">
        <h3>Registro</h3>
        <form action="/" method="POST">
            <label for="name"><b>Nombre y Apellido</b></label>
            <input type="text" name="name" placeholder="Nombre y apellido" required>
            <br>
            <label for="user"><b>Nombre de Usuario</b></label>
            <input type="text" name="user" placeholder="Nombre de usuario" required>
            <br>
            <label for="password"><b>Contraseña</b></label>
            <input type="password" name="Contraseña" placeholder="Contraseña" required>
            <br>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" placeholder="E-mail" required>
            <br>
            <label for="telefono"><b>Teléfono</b></label>
            <input type="number" name="telefono" placeholder="Teléfono">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" name="birth_date" id="birth_date" required>
            <br>
            <label for="adress"><b>Dirección</b></label>
            <input type="text" name="addres" placeholder="Domicilio">
            <br>
            <button type= "submit">Enviar</button>
            <button type= "reset">Enviar</button>
        </section>
    </main>


    
</body>
</html>