<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
</head>
<body>
    <!-- ★ Como cliente quiero poder registrarme para estar en su base de datos y 
    acceder a mi perfil e historial de compras de una manera más sencilla y, además, 
    facilitar el proceso de futuras compras.
    Entregable: Archivo register.html (o similar) junto con todos los recursos 
    necesarios, estilos de CSS e imágenes.--> 

    <!-- datos a pedir, Nombre, apellido, Direccion, Correo,telefono
    boton para registrase -->

    <!-- El header normal-->
    <!-- body con fondo de foto y recuadro donde cargar los datos-->
    <!-- Footer-->
    <Header>

    </Header> 
    <main class = "register">
        <form action="/" method="POST">
            <label for="name"><b>Nombre y Apellido</b></label>
            <input type="text" name="name" placeholder="Nombre y apellido">
            <br>
            <label for="user"><b>Nombre de Usuario</b></label>
            <input type="text" name="user" placeholder="Nombre de usuario">
            <br>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" placeholder="E-mail">
            <br>
            <label for="telefono"><b>Teléfono</b></label>
            <input type="text" name="telefono" placeholder="Teléfono">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <label for="adress"><b>Dirección</b></label>
            <input type="text" name="addres" placeholder="Domicilio">
           
            </div>

        <section>

        </section>

    </main>
    <footer>

    </footer>
    
</body>
</html>