*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
 
  
  /* inicio del header */


  header{
      width: 100vw;
      height: 15%;
      position: relative;
      z-index: 2;
  }
  
  nav {
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:auto;
      width: 95%;
      margin:auto;
      background-color: black;
      border-radius: 5%;
      padding: 1%;
  }
  
  nav a{
      color:white;
      font-family: 'Bebas Neue', cursive;
      padding: 3px;
      font-size: medium ;
  }
  
  nav img{
      display: none;
  }
  
  .barra button{
    background-color:black;
    color: white;
  }
  
  .busqueda{
      background-color: black;
      color: white;
      font-style: italic;
      }
  
  .barra{
    text-align: right;
    background-color: black;
    padding:5px;
  }

  
/* hasta acá el header*/
/* Inicio Main*/

body{
  background-image: url("https://i.ibb.co/6Rgv2ST/20210418-112850.jpg");
  background-color: black;
  background-position:center;
  background-size: cover ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  margin:0;
  height: 100vh;
  position: fixed;
}

main {
  display:flex;
  flex-wrap: wrap;
  border: white 1px solid;
  box-shadow: 0px 0px 10px white;
  border-radius: 3%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 15%;
  margin-block-end: 30%;
  align-items: center;
  width:90%;
  background-color: rgb(255,255,255,0.5);
  padding: 5%;
}


/* hasta acá el main*/
/*inicio footer*/


footer{
    background-color: black;
    color: white;
    font-size:small;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position:relative;
    bottom: 0%;
    border-top: 1px solid rgba(255, 254, 254, 0.5);
    box-shadow: rgba(255, 254, 254, 1);
  }
  
  footer section {
    margin: 5%;
  }
  
  footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
  }
  
  footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;
  
  }
  
  footer section i{
    color:white;
    margin-right: 3px;
  }
  
  
  /*fin footer*/