/*
 <footer>

        <section>
            <h4>Contacto</h4>
            <p><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></p>
            <p><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></p>
        </section>
    
        <section>
            <h4>Redes sociales</h4>
          <p><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></p>
          <p><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></p>
        </section>
        
        </footer>  
*/

footer{
    background-color: black;
    color:white;
    font-size:small;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position:fixed;
    bottom: 0%;
  }
  
  footer section {
    margin: 5%;
  }
  
  footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
  }
  
  footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;
  
  }
  
  footer section i{
    color:white;
    margin-right: 3px;
  }
  