*{
    box-sizing: border-box;
}
footer{
    background-color: black;
    color:white;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

footer section {
    margin: 5px;
}

footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
}

footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;

}

.panel{
    border: black 1px;
    
}

footer section i{
    color:white;
    margin-right: 3px;
}


/*
<footer>
    <section>
        <h4>Contacto</h4>
        <div></i><a href="https://acortar.link/xGVEdB"><i class="fab fa-whatsapp"></i>WhatsApp</a></div>
        <div><a href="mailto:bigbros.alfajores@gmail.com"><i class="far fa-envelope"></i>Correo</a></div>
    </section>

    <section>
        <h4>Redes sociales</h4>
       <div><a href="https://www.instagram.com/bigbros.alfajores/"><i class="fab fa-instagram"></i>Instagram</a></div>
       <div><a href="https://acortar.link/9S6U8k"><i class="fab fa-facebook-square"></i>Facebook</a></div>
    </section>

</footer>
*/
