/* inicio codigo general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    background-color: black;
  }
  header{
      width: 100vw;
      height: 15%;
  }
  
  nav {
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:auto;
      width: 95%;
      margin:auto;
      background-color: black;
      border-radius: 5%;
      padding: 1%;
  }
  
  nav a{
      color:white;
      font-family: 'Bebas Neue', cursive;
      padding: 3px;
      font-size: medium ;
  }
  
  nav img{
      display: none;
  }
  
  .barra button{
    background-color:black;
    color: white;
  }
  
  .busqueda{
      background-color: black;
      color: white;
      font-style: italic;
      }
  
  .barra{
    text-align: right;
    background-color: black;
    padding:5px;
  }
  
/* hasta acá el header*/

body{
  background-image: url("https://i.ibb.co/6Rgv2ST/20210418-112850.jpg");
  background-color: black;
  background-position:center;
  background-size: cover ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  margin:0;
  margin-bottom: 5%;
  height: 100vh;
}

main {
  margin: auto;
  align-items: center;
  width:90%;
  margin-bottom: 30px;
  padding: 5%;
  border: white 1px solid;
  border-radius: 3%;
  background-color: rgb(255,255,255,0.5);
  box-shadow: 0px 0px 10px white;
}

.title{
 margin: auto;
 margin-top: 5%;
 font-size: 24px;
 font-family: 'Bebas Neue', cursive;
 width: 60%;
 text-align: center;
 text-shadow: 1px 1px 2px white;
}

.register{
  width:90%;
  margin: auto;
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

fieldset{
  border:none;
  margin-bottom: 10px;
}

fieldset label {
  display:block;
  margin-top: 5%;
  margin-bottom: 3px;
  font-size: small;
  
}



fieldset input{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  border-color: white;
  width: 100%;
}

.invalid {
  border: 1px solid red;
}


fieldset button{
  width: 20%;
  background-color:black;
  font-family: 'Bebas Neue', cursive;
  font-size: larger;
  border-radius: 5px;
  color: white;
  margin:auto;
  margin-top: 10%;
  padding: 1%;
}

.text-danger{
  text-align: start;
  color: red;
}

/*.is-invalid:invalid::before {
  border-color: 1px solid red;
  content: "";
  
}*/


/*hasta aca el cuerpo*/


/*inicio media queries*/

  @media(min-width: 768px){
    nav img{
        display: inline-block;
        width: 100px;
    }

    main {
      margin-block-start: 5%;
      width: 60vw;
      height: auto;
    }

  }
  
  @media(min-width: 1024px){
    nav a{
       padding:0;
       font-size: larger;
    }

    nav img {
        width: 150px;
    }
    main {
      margin-block-start: 5%;
      width: 45vw;
      height: auto;
      padding: 3%;
    }
    .title {
      margin-top: 0;
      font-size: 30px;
    }

    fieldset label{
      margin-bottom: 0.5%;
    }

    fieldset button {
      width: 15%;
      font-size: 20px;
    }
  }
