
/* inicio codigo general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    background-color: black;
  }
  header{
      width: 100vw;
      height: 15%;
  }
  
  nav {
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:auto;
      width: 95%;
      margin:auto;
      background-color: black;
      border-radius: 5%;
      padding: 1%;
  }
  
  nav a{
      color:white;
      font-family: 'Bebas Neue', cursive;
      padding: 3px;
      font-size: medium ;
  }
  
  nav img{
      display: none;
  }
  
  .barra button{
    background-color:black;
    color: white;
  }
  
  .busqueda{
      background-color: black;
      color: white;
      font-style: italic;
      }
  
  .barra{
    text-align: right;
    background-color: black;
    padding:5px;
  }
  
/* hasta acá el header*/
/*inicio cuerpo*/

/*codigo Ale */
main {
    margin: 0px;
    padding: 20px;    
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-around;
    font-size: 15px;
}

img {
    Width: 100%;
}

section h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

/*fin codigo Ale*/

/*hasta aca el cuerpo*/
/*inicio footer*/

footer{
  background-color: black;
  color:white;
  font-size:small;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position:fixed;
  bottom: 0%;
}

footer section {
  margin: 5%;
}

footer a{
  margin:auto;
  color:white;
  text-decoration: none;
  flex-direction: column;
}

footer section h4 {
  margin-block-start: 0px;
  margin-block-end:8px;

}

footer section i{
  color:white;
  margin-right: 3px;
}


/*fin footer*/


/*inicio media queries*/

  @media(min-width: 768px){
    nav img{
        display: inline-block;
        width: 100px;
    }

    footer{
      font-size: smaller;
      height: 15%;
    }
    footer section{
      margin: 1%;
    }
    main {
      margin-block-start: 5%;
      width: 60vw;
      height: auto;
    }

  }
  
  @media(min-width: 1024px){
    nav a{
       padding:0;
       font-size: larger;
    }

    nav img {
        width: 150px;
    }
    main {
      margin-block-start: 5%;
      width: 45vw;
      height: auto;
      padding: 3%;
    }
    main h4 {
      margin-top: 0;
    }

    main form label{
      margin-bottom: 0.5%;
    }
  }

  /*media queries Ale*/
  
@media (min-width: 361px){
    main {
        display: flex;
        padding: 20px;

    }
    img {
        width: 50%;
        position:relative;
        left: 25%;

    }

    main p {
        justify-content: space-between;

    }

   section h3 {
        text-align: left;
    }
}

@media (min-width: 768px){
    main{
        display: flex;
        justify-content: space-between
    }

    section img{
        width: 30%;
    }

}
/*fin media queries ale*/