*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.first-bar{
    background-color: black;
}

.search-bar{
    display: block;
    font-size: 12px;
    background-color: white;
    max-width: 220px;
    height: 15px;
    text-align: left;
    margin: 25px;
    margin-left: 120px;
}

.submit{
    position:relative;
    bottom: 13px;
    left: 200px;
}

.enlaces {
    display: flex;
   justify-content: space-around;
   flex-direction: column;
   
   }

.enlaces a {
    color: white;
    margin-top: 15px;
  
}   

@media (min-width: 768px) {
    .enlaces{ 
        flex-direction: row;
        margin-top: 15px;
       
    }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}



h3{
    font-size: 15px;
}

h4{
    font-size: 12px;
}

p{
    font-size: 10px;
}



div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header{
    background-color: rgb(34, 33, 33);
    
    
}

*{
    box-sizing: border-box;
}
footer{
    background-color: black;
    color:white;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

footer section {
    margin: 5px;
}

footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
}

footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;

}

.panel{
    border: black 1px;
    
}

footer section i{
    color:white;
    margin-right: 3px;
}


header div.logo,
header .form{
    width: 50%;
}


header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}



header nav{
    font-size: 20px;
    margin-left: 70px;
    

}


section.banner img{
    width: 100%;
  
}


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}



div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}




.discount{
    width: 50%;
 
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
 
}

h3,
.description{
    color: #666;
}


.description{
    display: none;
    margin-top: 20px;
}



main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
   
    }

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;

}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-direction: column;
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

main section article:hover > .main-article > .fa-truck{
    transform: rotateZ(270deg)
}



