*{
    box-sizing: border-box;
}
footer{
    background-color: black;
    color:white;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

footer section {
    margin: 5px;
}

footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
}

footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;

}

.panel{
    border: black 1px;
    
}

footer section i{
    color:white;
    margin-right: 3px;
}

main{
    display: flex;
    width: 100vw;
    align-self: center;
}
.padre{
    display:flex;
    border: white 1px solid;
    box-shadow: 0px 0px 10px white;
    border-radius: 3%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width:90%;
    background-color: rgb(255,255,255,0.5);
    justify-content: flex-start;
}




