/* inicio codigo general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  /* inicio del header */

  header{
      width: 100vw;
      height: 15%;
      position: relative;
      z-index: 2;
  }
  
  nav {
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:auto;
      width: 95%;
      margin:auto;
      background-color: black;
      border-radius: 5%;
      padding: 1%;
  }
  
  
  nav a{
      color:white;
      font-family: 'Bebas Neue', cursive;
      padding: 3px;
      font-size: medium ;
  }
  
  nav img{
      display: none;
  }
  
  .barra button{
    background-color:black;
    color: white;
  }
  
  .busqueda{
      background-color: black;
      color: white;
      font-style: italic;
      }
  
  .barra{
    text-align: right;
    background-color: black;
    padding:5px;
  }

  
/* hasta acá el header*/

/* inicio del body*/


body{
    background-image: url("https://i.ibb.co/6Rgv2ST/20210418-112850.jpg");
    background-color: black;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    margin:0;
    height: 100vh;
    position: fixed;
}

main{
        display: flex;
        width: 100vw;
        align-self: center;
    width: 100vw;
}

.usuario {
    width: 50%;
    display: block;
    margin: auto;
    height: 200px;
}

.usuario img {
    width: 100%;
}

.nombreUsuario {
    text-align: center;
    color: white;
}

.padre{
    display:flex;
    border: white 1px solid;
    box-shadow: 0px 0px 10px white;
    border-radius: 3%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width:90%;
    background-color: rgb(255,255,255,0.5);
    
}

.opciones{
    
    margin-left: 0%;
    text-align: left;
    flex-wrap: wrap;
    border-right:  white 1px solid;
    height: 100%;
    align-items: center;
    padding-bottom: 3%;
    
}

.mis-datos,.mis-compras{
    width:100%;
    height: 50%;
    text-align: center;
    font-weight:lighter;

}

.mis-datos{
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 0px;
}

.mis-compras{
    border-top: white 1px solid;
    padding-bottom: 50%;
    padding-top: 50%;
}

.input{
    width: 100%;
    font-style: italic;
}

.input i{
    margin-left: 2px;
}
.contenido{
    margin:auto;
    padding-bottom: 3%;
}

.contenido h3{
    text-align: center;
    font-style: italic;
    margin-block-end:0.5em;
}

.cerrar {
    margin: auto;
    text-align: center;
}

/*hasta aca el cuerpo*/
/*inicio footer*/

footer{
    background-color: black;
    color:white;
    font-size:small;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position:fixed;
    bottom: 0%;
  }
  
  footer section {
    margin: 5%;
  }
  
  footer a{
    margin:auto;
    color:white;
    text-decoration: none;
    flex-direction: column;
  }
  
  footer section h4 {
    margin-block-start: 0px;
    margin-block-end:8px;
  
  }
  
  footer section i{
    color:white;
    margin-right: 3px;
  }
  
  
  /*fin footer*/

@media (min-width: 768px){

    nav img{
        display: inline-block;
        width: 100px;
    }

    footer{
      font-size: smaller;
      height: 15%;
    }

    footer section{
      margin: 1%;
    }

    .padre{
    width: 50%;
    margin-block-start: 10%;
    }
}

@media(min-width: 1024px){
    nav a{
       padding:0;
       font-size: larger;
    }

    nav img {
        width: 150px;
    }
}





