<header>
    <form class="barra" action="/search" method="get">
    <input type="search" name= "search" id="search" placeholder="Buscar productos" class="busqueda">
    <button>  
    <i class="fa fa-search"></i>
    </button> 
    </form>
    <nav class="enlaces">
        <a href="/nosotros">Nosotros</a>
        <a href="/productos/productDetail">Productos</a>
        <a href='/'><img src="/static/images/Logo 2.jpg" alt="Logo BIG BROS"></a>
        <a href="/users/login">Mi cuenta</a>     
        <a href="/users/comments">Contacto</a>
    </nav>
</header>