<section class="productos">

    <article>
       <img src="/static/images/alfajores/alfajores-04.jpg" alt="alfajores Big Bros">
       <section class="caracteristicas-p">
           <p>Alfajores</p>
              <form action="productCar.html" method="POST">
                  <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                      <option value="1" selected>x12</option>
                  </select>
                  <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                  <input class="precio" type="text" value="$600" id="precio" >
                  <section id="share">
                      <a href=" "><i class="fas fa-share-alt"></i></a>
                      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                  </section>
       </section>
    </article>

    <article>
      <img src="/static/images/cookies-01.jpg" alt="Cookies Big Bros">
      <section class="caracteristicas-p">
          <p>Cookies</p>
             <form action="productCar.html" method="POST">
                 <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                     <option value="1" selected>x12</option>
                 </select>
                 <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                 <input class="precio" type="text" value="$400" id="precio" >
      <section id="share">
          <a href=" "><i class="fas fa-share-alt"></i></a>
          <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
      </section>
      </section>
   </article>

   <article>
      <img src="/static/images/pandulce-01.jpg" alt="Pan Dulce Big Bros">
      <section class="caracteristicas-p">
          <p>Pan Dulce</p>
             <form action="productCar.html" method="POST">
                 <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                     <option value="1" selected>x1</option>
                 </select>
                 <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                 <input class="precio" type="text" value="$1200" id="precio" >
                 <section id="share">
                  <a href=" "><i class="fas fa-share-alt"></i></a>
                  <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
              </section>
      </section>
   </article>

   <article>
      <img src="/static/images/budin-01.jpg" alt="budines Big Bros">
      <section class="caracteristicas-p">
          <p>Budines</p>
             <form action="productCar.html" method="POST">
                 <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                     <option value="1" selected>x1</option>
                 </select>
                 <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                 <input class="precio" type="text" value="$900" id="precio">
                 <section id="share">
                  <a href=" "><i class="fas fa-share-alt"></i></a>
                  <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
              </section>
      </section>
   </article>
  </section>