<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>
    <link href="/static/css/error.css"  rel="stylesheet">
</head>
<body>
    <%- include("../includes/header")%>
    <h1>ups, you have an error !</h1>
    <p><%= error %></p>
        <%- include("../includes/footer")%> 
</body>
</html>