<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>
    <link href="/static/css/stylepanel.css"  rel="stylesheet">
 

</head>

<body>

    <%- include("../includes/header")%>
    <main>
    <div class="padre">
        <section class="opciones">
                <div class="mis-datos">Mis datos</div>       
                <div class="mis-compras">Mis compras </div>
        </section>

        <div class="contenido">
        <h3>Mis datos</h3>
            
            <div class="input"><label>Nombre:</label><div><input type="text" placeholder="Galeano, Noelia Belén"><i class="far fa-edit"></i></div></div>
            <div class="input"><label>Dirección:</label><div><input type="text" placeholder="Julio A. Roca 350"><i class="far fa-edit"></i></div></div>
            <div class="input"><label>Teléfono:</label><div><input type="tel" placeholder="3624555333"><i class="far fa-edit"></i></div></div>
            <div class="input"><label>Correo:</label><div><input type="email" placeholder="noeg@gmail.com"><i class="far fa-edit"></i></div></div>
            <div class="input"><label>Contraseña:</label><div><input type="password" placeholder="********"><i class="far fa-edit"></i></div></div>
        </div>
            <a href="/users/logout">Cerrar sesión</a>
        </div>
        </main>
        <%- include("../includes/footer")%>  
</body>
</html>