<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../includes/head")%>
        <link href="/static/css/register.css"  rel="stylesheet">
        <link href="/static/css/header.css"  rel="stylesheet">
        <link href="/static/css/footer.css"  rel="stylesheet">
    </head>
   


    <body>
        <%- include("../includes/header")%>

  
 <main>
    <section class = "register">
        <h3>Registro</h3>
        <form action="/" method="POST">
            <label for="name"><b>Nombre y Apellido</b></label>
            <input type="text" name="name" placeholder="Nombre y apellido" required>
            <br>
            <label for="user"><b>Nombre de Usuario</b></label>
            <input type="text" name="user" placeholder="Nombre de usuario" required>
            <br>
            <label for="password"><b>Contraseña</b></label>
            <input type="password" name="Contraseña" placeholder="Contraseña" required>
            <br>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" placeholder="E-mail" required>
            <br>
            <label for="telefono"><b>Teléfono</b></label>
            <input type="number" name="telefono" placeholder="Teléfono">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" name="birth_date" id="birth_date" required>
            <br>
            <label for="adress"><b>Dirección</b></label>
            <input type="text" name="addres" placeholder="Domicilio">
            <br>
            <button type= "submit">Enviar</button>
            <button type= "reset">Enviar</button>
        </section>
    </main>


    
</body>
</html>